<!DOCTYPE html>
<html>
<head>
    <title>Lista de Pedidos</title>
</head>
<body>
    <h1>Pedidos</h1>
    <table border="1">
        <tr>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
        <% orders.forEach(function(order) { %>
            <tr>
                <td><%= order.date.toLocaleDateString() %></td>
                <td><%= order.customerName %></td>
                <td>₲<%= order.total %></td>
                <td>
                    <a href="/orders/<%= order._id %>?token=<%= query.token %>">Ver Detalle</a>
                </td>
            </tr>
        <% }); %>
    </table>
    <br>
    <a href="/dashboard?token=<%= query.token %>">Volver al Dashboard</a>
</body>
</html>

<a href="/dashboard?token="